header, section, h1, h2, aside, footer, ol, ul, img{
  margin: 0;
  border: none;
  padding: 0;
  font: inherit;
}

li {
  list-style-type: none;
}

body {
  line-height: 1.5;
}
img{
  width: 100%;
}
